ion-view(title='首页')
    ion-content.padding
        .row.grid-buttons
            .col
                a(href='#/study')
                    em A
                    span 类
            .col
                a(href='#/study')
                    em B
                    span 类
            .col
                a(href='#/study')
                    em C
                    span 类