ion-view(title='{{ $data.clazz + "类 / 学习模式" }}')
    ion-nav-buttons(side='right')
        button.button.button-clear.icon.ion-reply(type='button', ng-show='testIndex > 1', ng-click='previousTest()')
    ion-content
        .progress-bar.stable-bg
            .progress.positive-bg(ng-style='{width: getProgress()}')
            span {{ testIds.length - testIndex }}
        .test.padding
            h4 {{ testIndex + ". " + test.q }}
            img(ng-src='img/tests/{{ test.p }}', ng-show='test.p')
            hr
            ul(ng-init='letters = ["A", "B", "C", "D"]')
                li(ng-repeat='c in shuffledChoices', ng-class='{rightChoice: !hiddenRightAnswer && c == rightChoice}')
                    em {{ letters[$index] }}
                    span {{ c }}
            button.button.button-block.button-positive(type='button', ng-show='hiddenRightAnswer', ng-click='markRightAnswer()') 看答案
            button.button.button-block.button-positive(type='button', ng-hide='hiddenRightAnswer', ng-click='nextTest()') 下一道