doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title 业余无线电能力验证测试
        link(href="lib/ionic/css/ionic.css", rel="stylesheet")
        link(href="css/global.css", rel="stylesheet")
        // ionic/angularjs js
        script(src="lib/ionic/js/ionic.bundle.js")
        // cordova script (this will be a 404 during development)
        script(src="cordova.js")
        script(src='js/utils.js')
        script(src="js/controllers.js")
        script(src="js/services.js")
        script(src='js/filters.js')
        script(src="js/app.js")
    body(ng-app="ham-exam-helper", animation="slide-left-right-ios7")
        ion-nav-bar.bar-dark.nav-title-slide-ios7
            ion-nav-back-button.button-clear
                | &nbsp;
                i.ion-chevron-left
                | 　
        ion-nav-view
