a {
  text-decoration: none; }

.red {
  color: red !important; }

.green {
  color: green !important; }

.grid-buttons .col {
  padding: 10px; }
.grid-buttons a {
  display: block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 0 auto; }
  .grid-buttons a em {
    font-size: 36px;
    margin-right: 3px; }
  .grid-buttons a span {
    font-size: 16px; }

.progress-bar {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: right;
  position: relative; }
  .progress-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
  .progress-bar span {
    margin-right: 5px; }

.test h4 {
  line-height: 1.6; }
.test .count {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #0077dd;
  border: solid 1px #0077dd;
  border-radius: 3px;
  padding: 0 3px; }
.test img {
  display: block;
  margin: 20px auto;
  max-height: 200px; }
.test ul {
  margin-bottom: 20px; }
  .test ul li {
    position: relative;
    margin-top: 15px;
    line-height: 1.6;
    font-size: 16px; }
    .test ul li em, .test ul li input {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 20px; }
    .test ul li input {
      top: 4px; }
    .test ul li span {
      display: block;
      margin-left: 30px;
      height: 100%;
      font-size: 16px; }
      .test ul li span i {
        margin-left: 10px; }

.report-title {
  margin: 15px auto;
  text-align: center; }
  .report-title span {
    margin: 0 15px; }

.test-report .item i {
  margin-right: 10px; }
